<div data-page id="wrapper">

  <header itemscope>
    <div class="inner">
      <h1 itemprop="name">
        Longpost.me
      </h1>
      <h2 itemprop="description">
        Create your own long post
      </h2>
      <span data-toolbar-save class="no-select">Export</span>
    </div>
  </header>

  <div id="toolbar">
    <div class="inner clearfix">
        <span data-toolbar-text id="text"  class="pull-left no-select toolbar-item">Text</span>
        <span data-toolbar-clear id="clear" class="pull-left">Clear</span>
        <span data-toolbar-help id="help" class="pull-right">Help</span>
    </div>
  </div>

  <section>
    <div class="inner">
      <div id="longpost">

      </div>
    </div>
  </section>

  <footer>
    <div class="inner">
      <span class="pull-right">
        Architect theme by <a href="https://twitter.com/jasonlong" target="_blank">Jason Long</a>
      </span>
      <span class="pull-left">
        &copy; <a href="http://victorgolov.ru" target="_blank">victorgolov.ru</a>
      </span>
    </div>
  </footer>

</div>

<div data-export class="export-main no-select">
  <div class="export-overlay">
    <%= image_tag('loading-cylon-red.svg', {width: 256, height: 32, class: 'export-preload'}) %>
  </div>
  <div class="export-loader"></div>
  <div class="export-header">
    <strong>Long</strong>post
  </div>
  <img class="export-image">
  <div class="export-footer">
    <strong>Long</strong>post
  </div>
</div>

<div data-help-container class="help-container">
  <%= image_tag('help.png', {class: 'help-image'}) %>
</div>


<div class="test" style="position: absolute; top: 260px; left: 50px;">

</div>

<script type="text/javascript" charset="utf-8">

  var lp = new longpost.Core('#longpost');

  $('#toolbar').stick();

  var editor = new ste.Editor('.test');
  editor.init();

</script>