<%= session[:some_key] %>

<!-- <textarea name="" id="asd" cols="30" rows="10"></textarea> -->
<div onclick="$('body').append('<image src='+ lp.getCanvas().toDataURL({format:'jpeg', quality: 0.8}) +'>')" style="width: 50px;height: 50px;">save</div>
<div id="longpost">

</div>

<script type="text/javascript" charset="utf-8">

  var lp = new longpost.Core($("#longpost"));

</script>