<div id="wrapper">

  <header>
    <div class="inner">
      <h1>
        Longpost.me
      </h1>
      <h2>
        Create your own long post
      </h2>
      <span data-toolbar-save class="no-select">Export</span>
    </div>
  </header>

  <div id="toolbar">
    <div class="inner clearfix">
        <span data-toolbar-text id="text"  class="pull-left no-select toolbar-item">Text</span>
        <span data-toolbar-clear id="clear" class="pull-left">Clear</span>
        <span id="help" class="pull-right">Help</span>
    </div>
  </div>

  <section>
    <div class="inner">
      <div id="longpost">

      </div>
    </div>
  </section>

  <script type="text/javascript" charset="utf-8">

    var lp = new longpost.Core($('#longpost'));

    $('#toolbar').stick();

  </script>

</div>
<footer>
  <div class="inner">
    <span class="pull-left">
      Architect theme by <a href="https://twitter.com/jasonlong" target="_blank">Jason Long</a>
    </span>
    <span class="pull-right">
      <a href="http://victorgolov.ru" target="_blank">victorgolov.ru</a> &copy;
    </span>
  </div>
</footer>



