$export-z-index: 2;

@import "animation";

.export-main {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: $export-z-index;
  @include transition(visibility 0s ease $animation-speed);

  &.active{
    visibility: visible;
    @include transition(none);
  }
}

.export-header {
  font-size: 5em;
  position: relative;
  z-index: $export-z-index + 1;
  color: white;
  text-align: center;

  strong {
    color: rgba(0, 0, 0, 0.3);
  }
}

.export-footer {
  @extend .export-header;
  @include transition(opacity $animation-speed ease);
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.export-image {
  position: relative;
  display: block;
  z-index: $export-z-index + 1;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  @include transition(visibility 0s ease $animation-speed);

  &.active {
    visibility: visible;
    @include transition(none);
  }
}

.export-overlay {
  position: fixed;
  z-index: $export-z-index;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #60d7a9;

  .export-preload {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  }
}