<!DOCTYPE html>
<html>
<head>
  <title>Longpost</title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript" src="http://arrow.scrolltotop.com/arrow29.js"></script>
</body>
</html>
